<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class = "well box">
  <strong>Username:</strong> <%= @user.username %></br>
  <strong>Time zone:</strong> <%= @user.time_zone %>
</div>

<ul class="nav nav-tabs">
  <li><a href="#posts" data-toggle="tab">Posts (<%= @user.posts.size%>)</a></li>
  <li><a href="#comments" data-toggle="tab">Comments (<%= @user.comments.size%>)</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="posts">
    <% if @user.posts.size > 0 %>
      <% @user.posts.each do |post| %>
      <%= render 'posts/post', post: post %>
      <% end %>
    <% else %>
    <p> You have not written any post yet. <%= link_to "Write a post now!", new_post_path %></p>
    <% end %>
  </div>
  <div class="tab-pane" id="comments">
    <% if @user.comments.size > 0 %>
      <%= render 'comments/comments', object: @user, show_post: true%>
    <% else %>
      <p> You have not written any comment yet.</p>
    <% end %>
  </div>
</div>
 
