<div class = "row">

  <div class = "span8 well" id="box">

    <p><%= render post.categories %></p>

    <h4><%= link_to post.title, url_fix(post.url) %></h4>
    <p><%= post.description%></br></p>

    <p>
        <span class="quiet"><em> Created by <%= post.user.username %> on <%= date_fix(post.created_at) %></em></span></br>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </br>
    </p>
     <%= link_to("View post", post_path(post)) %>
  </div>
</div>