<p><%= render @post.categories %></p>
<p class='edit'><%= link_to 'Edit this post', edit_post_path(@post) %></p>
<%= render 'shared/content_title', title: @post.title %>



<p><%= @post.description %>
<hr>
</p>

<p>Leave a comment
  <%= render 'shared/form_error', form: @comment %>
  <%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body, rows: 5%>
  </br>
  <%= f.submit 'Submit comment', class: 'btn btn-primary' %>
  <% end %>
</p>


